body {
  margin: 0;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-select: none;
  -webkit-user-select: none;
}

header {
  display: flex;
  align-items: center;
  height: 80px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  color: #363636;
  background-color: white;
  box-shadow: 1px 1px grey;
}
@media (max-width: 400px) {
  header {
    font-size: 15px;
  }
}

.button {
  outline: none;
  border: none;
  font-size: 12px;
  position: absolute;
  right: 20px;
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
}
.button:hover {
  background-color: #eeeeee;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  margin-left: 20px;
  font-size: 18px;
  font-family: Nunito;
}
.allLogs {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px 1px 1px 1px dashed grey;
}
img {
  width: 50px;
  margin-right: 15px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .userInfo {
    width: 30px;
  }
}
h1 {
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h3 {
  margin-left: 30px;
  text-decoration: underline;
  font-family: Helvetica;
  letter-spacing: 1px;
}
p {
  margin-left: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 25px;
}
.super {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: white;
  outline: none;
  border: none;
  box-shadow: 1px 1px 2px 1px grey;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 13px;
}
.super:hover {
  width: 350px;
  height: 80px;
  font-size: 20px;
  background-color: #f7f7f7;
}
.super:active {
  width: 200px;
  height: 50px;
  font-size: 13px;
}
.align {
  display: flex;
  justify-content: center;
}
.mode {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}
